* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --yellow: #ffe98f;  
    --blue: #a5e3f4;   
    --purple: #d4adec; 
    --black: #1a1a1a;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: var(--black);
    background-color: #f8f8f8; 
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

h1, h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px;
    line-height: 1.1;
    color: var(--black);
}
h1 { font-size: 3.5em; }
h2 { font-size: 2.5em; }
h3 { font-size: 1.8em; }

p, ul {
    margin-bottom: 25px;
    font-size: 1.1em;
}

.centered-bold {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px; 
}

.site-header {
    padding: 30px 0;
    border-bottom: none;
    background-color: transparent;
    overflow: hidden; 
}

.site-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
    letter-spacing: 2px;
    color: var(--black);
    float: left;
}

.site-nav {
    float: right;
    padding-top: 5px; 
}

.site-nav .page-link {
    font-family: 'Bebas Neue', sans-serif;
    color: #555;
    text-transform: uppercase;
    margin-left: 20px;
    font-size: 1.1em;
    text-decoration: none;
    transition: color 0.3s;
}
.site-nav .page-link:hover {
    color: var(--black);
}

.page-content {
    padding: 60px 0;
    min-height: calc(100vh - 150px);
}

.profile-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 40px auto;
    border: 5px solid #fff; 
}


.chunky-highlight {
    color: var(--black);
    padding: 10px 20px; 
    display: block; 
    width: fit-content; 
    margin: 10px 0;
    box-shadow: 4px 4px 0px 0px var(--black); 
}

.highlight-yellow {
    background-color: var(--yellow); 
}


.highlight-blue {
    background-color: var(--blue); 
}

.highlight-purple {
    background-color: var(--purple); 
    font-style: normal;
}

.section-title {
    margin-top: 50px;
    margin-bottom: 40px;
}

.mini-info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-bottom: 50px;
}

.mini-info-card {
    background: #fff;
    border: 3px solid var(--black);
    border-radius: 5px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 8px 8px 0px 0px var(--black); 
}

.card-header {
    background-color: #f1f1f1;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2260%22%20height%3D%2260%22%20viewBox%3D%220%200%2060%2060%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M21.21%2029.09L2.91%2010.79A30%2030%200%200130%200c16.57%200%2030%2013.43%2030%2030A30%2030%200%200130%2060c-8.91%200-17.06-3.89-22.68-10.15l-1.92-1.68L27.67%2031.54z%22%20fill%3D%22%23c9c9c9%22%2F%3E%3C%2Fsvg%3E');
    height: 100px;
    border-bottom: 3px solid var(--black);
    border-radius: 2px 2px 0 0;
}

.card-content {
    padding: 15px;
    flex-grow: 1;
}

.mini-info-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.card-button {
    display: block;
    text-align: center;
    background-color: var(--yellow); 
    border-top: 3px solid var(--black);
    color: var(--black);
    text-decoration: none;
    padding: 15px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9em;
    transition: background-color 0.2s;
}

.card-button:hover {
    background-color: #ffd83a;
}

.site-footer {
    border-top: 1px solid #ddd;
    padding: 20px 0;
    text-align: center;
    background-color: #fff;
    font-size: 0.9em;
}

.footer-col-wrapper a {
    color: #333;
    margin: 0 15px;
    transition: color 0.3s;
}

.footer-col-wrapper a:hover {
    color: var(--black);
}



.image-grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 20px;
    margin: 30px 0 50px;
    text-align: center;
}

.image-grid-3 figure {
    margin: 0;
}

.image-grid-3 img {
    width: 100%;
    height: auto;
    max-height: 250px; 
    object-fit: cover;
    display: block;
    border: 3px solid var(--black);
    box-shadow: 4px 4px 0px 0px var(--black);
}

.image-grid-3 figcaption {
    margin-top: 10px;
    font-weight: 700;
    font-size: 0.95em;
    color: var(--black);
}


@media screen and (max-width: 768px) {
    
    h1 { font-size: 2.5em; }
    h2 { font-size: 1.8em; }
    
    .mini-info-grid {
        grid-template-columns: 1fr; 
    }
    
    .menu-icon {
        display: block;
        position: absolute;
        top: 35px;
        right: 20px;
    }
    
    .site-nav {
        float: none;
    }

    .site-nav .trigger {
        clear: both;
        display: none;
        padding-top: 10px;
        border-top: 1px solid #eee;
        position: absolute;
        width: 100%;
        left: 0;
        background-color: #fff;
        z-index: 5;
    }

    #nav-trigger:checked + label + .trigger {
        display: block;
    }

    .site-nav .page-link {
        display: block;
        margin: 0;
        padding: 10px 20px;
        border-bottom: 1px solid #eee;
    }
    
    .footer-col-wrapper a {
        display: block;
        margin: 10px 0;
    }
}